@model WoofMe.Models.QuizModels.QuizResultModel

<html>
<head>
    <meta charset="utf-8" />
    <title>
        @{
            ViewData["Title"] = "Quiz Result";
        }
    </title>
</head>
<body>
    @if (Model.Doggies.Count() != 0)
    {
        foreach (var d in Model.Doggies)
        {
            <hr />
            <img src="~/images/@d.Picture" style="object-fit: cover; border-radius: 3%" height="800" />
            <h4><strong>@d.Name</strong></h4>
            <h5>Gender:@d.Gender, Age: @d.Age, Size: @d.Size, Hair lenght: @d.HairLenght</h5>
        }

    }
    else
    {
        <hr />
        <h4>There are no dogs matching your wishes.</h4>

    }
    <a asp-action="Quiz"><strong>Take another quiz.</strong></a>
</body>
</html>