@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<address>
    CoolTown, Mars<br />
    Best street, 100a<br />
    <abbr title="Phone">P:</abbr>
    00385958205551
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lauratoric@gmail.com">help@woofme.com</a><br />
</address>


<h2>If you want to adopt one of our dogs, do not hesitate to call us, or send us a mail.</h2>
<p></p>
<p></p>
<p>WoofMe is a small dog shelter located on Mars. We started our business in year 2015 with only 5 dogs (who are now happily adopted), and since then we have found home for over 10 dogs.</p>
